<h1 class="medicine-details-title">Bill Details</h1>
<div class="main-content container">
  <div class="medicine-details">
    <p>
      <strong>ID:</strong>
      <%= @record.id %>
    </p>

    <p>
      <strong>Total Amount:</strong>
      <%= @record.total_amount %> Rs
    </p>

    <p>
      <strong>Payment Method:</strong>
      <%= @record.payment_method %>
    </p>
    <% if @record.address.present? %>
      <p>
        <strong>Address:</strong>
        <%= @record.address %>
      </p>

      <p>
        <strong>Postal:</strong>
        <%= @record.postal_code %>
      </p>
      <% end %>
    <p>
      <strong>Medicine Detail:</strong>
      <ul>
        <% @record.medicine_ids.each do |medicine| %>
          <li>
            <%= "Code: #{medicine['code']}, Name: #{medicine['name']}, Quantity: #{medicine['number_of_tablets']}" %>
          </li>
        <% end %>
      </ul>
    </p>
  </div>

  <%= link_to 'Back', v1_branch_records_path(@branch), class: 'medicine-btn-secondary' %>
  <% if !@record.tracking_id.present? && current_user.branch_admin? && @record.customer_id == @record.cashier_id %>
  <%= link_to 'Dispatch Order', dispatch_order_v1_branch_record_path(@branch, @record), class: 'medicine-btn-secondary' %>
  <% end %>
</div>