<h1>Users for <%= @branch.name %></h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone_number %></td>
        <td><%= user.role.capitalize %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back to Home', root_path, class: 'btn btn-secondary' %>
