<section class="medicine-form-section">
  <%= form_with(model: [@branch, @record], local: true) do |form| %>

    <div id="medicines-fields">
      <div class="medicine-form-group">
        <%= form.label :medicine_name, "Enter Medicine Name" %>
        <input type="text" name="record[medicine_name][]" class="medicine-form-control" placeholder="Enter the medicine name">
      </div>

      <div class="medicine-form-group">
        <%= form.label :number_of_tablets %>
        <input type="number" name="record[number_of_tablets][]" class="medicine-form-control" placeholder="Enter number of tablets">
      </div>
    </div>

    <%= link_to 'Add another medicine', 'javascript:void(0);', id: 'add-medicine', class: 'btn btn-secondary' %>

    <div class="medicine-form-group">
      <%= form.label :payment_method %>
      <%= form.select :payment_method, [["Cash", "cash"], ["Online", "online"]], {}, class: 'medicine-form-control' %>
    </div>

    <div class="medicine-form-group">
      <%= form.label :customer_contact, "Enter Contact Details" %>
      <%= form.text_field :customer_contact, class: 'medicine-form-control', placeholder: 'Enter the Customer Contact Detail' %>
    </div>

    <div class="medicine-form-group">
      <%= form.submit class: 'medicine-btn-primary' %>
    </div>

  <% end %>
</section>

<script>
document.addEventListener("DOMContentLoaded", function() {
  document.getElementById("add-medicine").addEventListener("click", function(e) {
    e.preventDefault();

    const medicinesFields = document.getElementById("medicines-fields");
    const newField = `
      <div class="medicine-form-group">
        <input type="text" name="record[medicine_name][]" class="medicine-form-control" placeholder="Enter the medicine name">
      </div>
      <div class="medicine-form-group">
        <input type="number" name="record[number_of_tablets][]" class="medicine-form-control" placeholder="Enter number of tablets">
      </div>
    `;
    medicinesFields.insertAdjacentHTML('beforeend', newField);
  });
});
</script>
