<h1 class="medicine-details-title">Stock Transfer Details</h1>

<div class="medicine-details">
  <p>
    <strong>ID:</strong>
    <%= @stock_transfer.id %>
  </p>

  <p>
    <strong>Total Quantity:</strong>
    <%= @stock_transfer.quantity %> units
  </p>

  <p>
    <strong>Status:</strong>
    <%= @stock_transfer.status %>
  </p>

  <p>
    <strong>From Branch:</strong>
    <%= Branch.find(@stock_transfer.branch_id).name %>
  </p>

  <p>
    <strong>To Branch:</strong>
    <%= Branch.find(@stock_transfer.to_branch_id).name %>
  </p>

  <p>
    <strong>Requested By:</strong>
    <%= User.find(@stock_transfer.requested_by_id).name %>
  </p>

  <% if @stock_transfer.approved_by_id.present? %>
    <p>
      <strong>Approved By:</strong>
      <%= User.find(@stock_transfer.approved_by_id).name %>
    </p>
  <% end %>

  <p>
    <strong>Medicine Details:</strong>
    <ul>
      <% @stock_transfer.medicine_ids.each do |medicine| %>
        <li>
          <%= "Code: #{medicine['code']}, Name: #{medicine['name']}, Quantity: #{medicine['quantity']}" %>
        </li>
      <% end %>
    </ul>
  </p>
</div>
<% if current_user.cashier? %>
  <%= link_to 'Back', branch_medicines_path(@branch), class: 'btn btn-danger' %>
<% else %>
  <%= link_to 'Back', branch_stock_transfers_path(@branch), class: 'btn btn-secondary' %>
<% end %>

