<h1 class="medicine-details-title">Branch Details</h1>

<div class="medicine-details">
  <p>
    <strong>Name:</strong>
    <%= @branch.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= @branch.location %>
  </p>

  <% if current_user.super_admin? %>
    <%= link_to 'Back', v1_branches_path, class: 'medicine-btn-secondary' %>
    
    <div class="card-container">
      <div class="card">
        <h3 class="card-title">Audits</h3>
        <p class="card-description">View all audit logs related to this branch.</p>
        <%= link_to 'View Audits', v1_branch_audit_logs_path(@branch), class: 'medicine-btn-secondary' %>
      </div>
      
      <div class="card">
        <h3 class="card-title">Stock Transfers</h3>
        <p class="card-description">View stock transfer requests for this branch.</p>
        <%= link_to 'View Stock Transfers', v1_branch_stock_transfers_path(@branch), class: 'medicine-btn-secondary' %>
      </div>
    </div>
  <% end %>

  <% if current_user.branch_admin? %>
    <div class="card-container">
      <div class="card">
        <h3 class="card-title">Add Medicine</h3>
        <p class="card-description">Create new medicines for this branch.</p>
        <%= link_to 'Add Medicine', new_v1_branch_medicine_path(@branch), class: 'medicine-btn-success' %>
      </div>

      <div class="card">
        <h3 class="card-title">View Sales</h3>
        <p class="card-description">View all sales records for this branch.</p>
        <%= link_to 'View Sales', v1_branch_records_path(@branch), class: 'medicine-btn-success' %>
      </div>

      <div class="card">
        <h3 class="card-title">Stock Transfer Requests</h3>
        <p class="card-description">Review stock transfer requests.</p>
        <%= link_to 'View Stock Transfer Requests', v1_branch_stock_transfers_path(@branch), class: 'medicine-btn-secondary' %>
      </div>

      <div class="card">
        <h3 class="card-title">Medicines Details</h3>
        <p class="card-description">View all medicines in this branch.</p>
        <%= link_to 'View Medicines Details', v1_branch_medicines_path(@branch), class: 'medicine-btn-secondary' %>
      </div>
    </div>
  <% end %>

  <% if current_user.cashier? %>
    <div class="card-container">
      <div class="card">
        <h3 class="card-title">Create Bill</h3>
        <p class="card-description">Generate a bill for sales transactions.</p>
        <%= link_to 'Create Bill', new_v1_branch_record_path(@branch), class: 'medicine-btn-secondary' %>
      </div>

      <div class="card">
        <h3 class="card-title">Medicines Details</h3>
        <p class="card-description">View medicines available in this branch.</p>
        <%= link_to 'View Medicines Details', v1_branch_medicines_path(@branch), class: 'medicine-btn-secondary' %>
      </div>
    </div>
  <% end %>
</div>
