<body>  
  <div class="main-content container">
    <div class="container">
      <h3 class="text-center mb-4 text-secondary">Medicine Management</h3>

      <!-- Search Form -->
      <%= form_with url: v1_branch_medicines_path(@branch), method: :get, local: true, class: "search-form" do %>
        <div class="input-group ">
          <%= text_field_tag :search, params[:search], placeholder: "Search medicines", class: "form-control" %>
          <%= submit_tag "Search", class: "btn btn-primary ml-2" %>
        </div>
      <% end %>

      <!-- Records per page filter -->
      <div class="records-per-page-filter">
        <%= form_with url: v1_branch_medicines_path(@branch), method: :get, local: true, class: 'form-per-page' do %>
          <label for="per_page" class="form-label">Medicines per page:</label>
          <%= select_tag :per_page, options_for_select([['Select medicines', ''], 5, 10, 20], selected: @per_page), onchange: 'this.form.submit();', class: 'form-control' %>
        <% end %>
      </div>

      <!-- Medicines Table -->
      <table class="table table-hover table-striped">
        <thead class="table-dark">
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Available Stock</th>
            <th>Expiry Date</th>
            <th>Branch</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @medicines.each do |medicine| %>
            <tr>
              <td><%= medicine.name %></td>
              <td><%= medicine.description %></td>
              <td><%= medicine.price %> Rs</td>
              <td><%= medicine.quantity %> Tablets</td>
              <td><%= medicine.expiry_date %></td>
              <td><%= medicine.branch.name %></td>
              <td>
                <div class="d-flex gap-2 justify-content-start">
                  <%= link_to 'View', v1_branch_medicine_path(medicine.branch, medicine), class: 'btn btn-light btn-sm' %>
                  <% if medicine.branch_id == @branch.id %>
                    <% if current_user.branch_admin? %>
                      <%= link_to 'Edit ', edit_v1_branch_medicine_path(medicine.branch, medicine), class: 'btn btn-outline-dark btn-sm' %>
                      <%= link_to 'Delete Medicine', v1_branch_medicine_path(medicine.branch, medicine), method: :delete, data: { turbo_method: :delete, confirm: 'Are you sure you want to delete this transfer?' }, class: 'btn btn-danger btn-sm' %>
                    <% end %>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <!-- Pagination -->
      <div class="pagination-wrapper">
        <%= paginate @medicines, class: "pagination justify-content-center" %>
      </div>

      <% if current_user.branch_admin? %>
       <%= link_to 'Create New Medicine', new_v1_branch_medicine_path(@branch), class: 'btn btn-dark mb-3 w-100' %>
      <% end %>
    </div>
  </div>
</body>
